/* Estilos generales del body */
body {
  margin: 0;
  background-color: #0F172A;
  padding-top: 60px;
}

/* Colores de títulos principales */
h2, h1 {
  color: white;
}

/* Estilo del texto principal y botones tipo enlace */
p, .link-button {
  color: #94A3B8;
}

/* Secciones generales con padding */
.section {
  padding: 3rem 2rem;
}

/* Sección "about" con diseño flexible */
.about-section {
  font-size: large;
  background-color: #0F172A;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

/* Contenedor de texto dentro de la sección "about" */
.about-text {
  flex: 1;
  min-width: 250px;
}

/* Clase m1 para títulos más grandes */
.m1 {
  font-size: 2rem;
}

/* Clase m2 para subtítulos más pequeños y ajustados */
.m2 {
  margin-top: -15px;
  font-size: 1.5rem;
}

/* Sección de tecnologías */
.tecnologias-section {
  background-color: #0F172A;
  padding: 2rem;
  text-align: center;
}

/* Contenedor personalizado para chips */
.custom-chip-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* Sección de proyectos */
.projects-section {
  padding: 2rem;
  background-color: #0F172A;
  color: white;
}

/* Título dentro de la sección de proyectos */
.projects-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

/* Contenedor grid para las tarjetas de proyectos */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
}

/* Estilo individual para cada tarjeta de proyecto */
.project-card {
  background-color: #1e293b;
  border: none;
  color: #e2e8f0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 1rem;
}

/* Grupo de chips en cada tarjeta de proyecto */
.chip-group {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* Estilos personalizados para los chips de PrimeNG */
::ng-deep .p-chip {
  background-color: #0f172a;
  color: #00ffd9;
  border-radius: 999px;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 1px solid #00ffd9;
}

/* Contacto */
.contact {
  background-color: #0F172A;
}

/* Estilo para cada div dentro de la sección de contacto */
.contact div {
  margin-bottom: 0.5rem;
}
